= semantic_form_for @user do |f|
  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @user.errors.full_messages.each do |msg|
          %li= msg
  
  = f.inputs :college do
    #year
      = f.semantic_fields_for :years do |year|
        = render 'year_fields', :f => year
    .links
      = link_to_add_association 'add year', f, :years, :class => "btn"
    
    = f.actions do
      = f.action :submit, :as => :button