.nested-fields
  = f.inputs :institution, :department, :num, :credits, :status, :prof, :profquality, :hpweek, :follows, :nopprojects, :nogprojects, :noessays, :nomidterms, :nofinals, :suggest do
    .accordion-group
      .accordion-heading
        %a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseg#{@iaf}#{@iag}#{@iah}"}

          %li.form_header_style
            = f.input :institution, :label => false, :as => :select, :collection => ["Rice", "AP", "Other"], :wrapper_html => {:class => "float form_header_style" },  :input_html => {:placeholder => "Rice",:class => "input-small"}
          %li
            = f.input :department, :label => false, :wrapper_html => { :class => "float input-small" }, :input_html => {:placeholder => "ANTH",:class => "input-small"}
          %li
            = f.input :num, :label => false, :wrapper_html => { :class => "float input-small" }, :input_html => {:style => '',:placeholder => "101", :class => "input-small"}
          = f.input :credits, :as => :number, :min => 0, :max => 7, :step => 1, :label => false, :wrapper_html => {:class => "float input-mini" }, :input_html => {:style => '',:placeholder => "3", :class => "special input-mini"}
          = f.input :status, :label => false, :as => :select, :collection => ["Taken", "Taking", "Will Take"],  :wrapper_html => {:class => "float" }, :input_html => {:style => '', :placeholder => "Taken", :class => "input-small"}
          = f.input :grade, :as => :select, :collection => ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-","D+", "D", "D-", "F", "P", "Fp", "S", "Fs", "AP 3", "AP 4", "AP 5"], :label => "Grade", :wrapper_html => {  :style => 'width: 250px;', :class => "float input-small" }, :input_html => {:style => '', :class => "input-small"}
      .accordion-body.collapse{:id => "collapseg#{@iaf}#{@iag}#{@iah}"}
        - @iaf += 1
        .accordion-inner
          %p Prof Name
          = f.input :prof, :label => false, :wrapper_html => { :style => 'color: black;', :class => "input-large form_header_style" }, :input_html => {:style => "", :placeholder => "Dr. Richard Tapia",:class => ""}
          %p Prof Quality
          = f.input :profquality, :as => :number, :min => 0, :max => 10, :step => 1,:label => false, :wrapper_html => {:style => '', :class => "input-large" }, :input_html => {:style => '', :class => "special"}
          %p Workload: Hours per week
          = f.input :hpweek, :as => :number, :min => 0, :max => 40, :step => 1,:label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '',:class => "special"}
          %p Book/Lecture Focus
          = f.input :follows,:as => :select, :collection => ["0/100", "25/75", "50/50", "75/25", "100/0"],:label => false, :wrapper_html => {:style => '', :class => "input-small" }, :input_html => {:style => '', :class => "input-small"}
          %p Number of Individual Projects
          = f.input :nopprojects,:as => :number, :min => 0, :max => 10, :step => 1, :label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '', :class => "special"}
          %p  Number of Group Projects
          = f.input :nogprojects,:as => :number, :min => 0, :max => 10, :step => 1, :label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '', :class => "special"}
          %p  Number of Essays
          = f.input :noessays,:as => :number, :min => 0, :max => 10, :step => 1, :label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '', :class => "special"}
          %p  Number of Midterms
          = f.input :nomidterms, :as => :number, :min => 0, :max => 16, :step => 1, :label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '',:class => "special"}
          %p  Final
          = f.input :nofinals,:as => :number, :min => 0, :max => 1, :step => 1, :label => false, :wrapper_html => {:style => '', :class => "input-mini" }, :input_html => {:style => '', :class => "special"}
          %p  Suggestions
          = f.input :suggest, :label => false, :wrapper_html => {:style => 'width: 510px; height: 100px;', :class => "pull-left" }, :input_html => { :placeholder => "Read the book,  Go to lecture...",:class => ""}
          = link_to_remove_association "remove course", f, :class => "btn"
