.nested-fields
  = f.inputs :number do
    %h3 Year
    = f.input :year,:label => false, :wrapper_html => {  :style => '', :class => "" }, :input_html => {:placeholder => "2013", :class => "input-small"}
    = link_to_remove_association "remove year", f, :class => "btn"
    #semester
      - @iag = 0
      - @iah += 1
      #accordian3.accordion
        = f.semantic_fields_for :semesters do |semester|
          = render 'semester_fields', :f => semester, :@iag => @iag
        = link_to_add_association "add semester", f, :semesters, :class => "btn"
        %hr