.nested-fields
  = f.inputs :number do
    %h3 Year
    = f.input :year,:label => false, :wrapper_html => {  :style => 'width: 100px', :class => "" }, :input_html => {:placeholder => "2013", :class => "pull-left"}
    = link_to_remove_association "remove year", f, :class => "btn"
    #semester
      = f.semantic_fields_for :semesters do |semester|
        = render 'semester_fields', :f => semester
      = link_to_add_association "add semester", f, :semesters, :class => "btn"
      %hr