%h1 Update your profile 
.pull-left
  = semantic_form_for @user do |f|
    - if @user.errors.any?
      #error_explanation
        %h2= "#{pluralize(@user.errors.count, "error")} prohibited this project from being saved:"
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
  
    = f.inputs :name, :email, :dreamJob, :college, :status, :year do
      = f.input :name, :input_html => {:placeholder => "John Deer"}
      = f.input :email, :input_html => {:placeholder => "jd1@rice.edu"}
      = f.input :dreamJob, :input_html => {:placeholder => "Software Developer"}
      = f.input :college, :as => :select, :collection => ["Baker", "Brown", "Duncan", "Jones", "Hanszen", "Martel", "McMurtry", "Lovett", "Sid Rich", "Wiess", "Will Rice"], :wrapper_html => { :style => 'width: 250px',:class => "pull-left" }, :input_html => {:style => 'width: 100px',:class => "pull-left"}
      = f.input :status, :as => :select, :collection => ["Undergrad", "Alumni", "Prospective Student"], :wrapper_html => {:style => 'width: 250px', :class => "pull-left" }, :input_html => {:style => 'width: 150px',:class => "pull-left"}
      = f.input :year, :as => :select, :collection => ["Freshman", "Sophomore", "Junior", "Senior", "Alumni"], :wrapper_html => {:style => 'width: 250px', :class => "pull-left" }, :input_html => {:style => 'width: 100px',:class => "pull-left"}
      = f.input :password
      = f.input :password_confirmation
      = f.actions do
        = f.action :submit, :as => :button
  = gravatar_for @user 
  %a{href: "http://gravatar.com/emails"} change