<% if signed_in? %>
<%# change%>
<% provide(:title, @user.name) %>
<!-- Moved to Controller -->

<% grades = {"A+" => "4.3333", "A" => "4", "A-" => "3.6666", "B+" => "3.3333", "B" => "3", "B-" => "2.6666", "C+" => "2.3333", "C" => "2", "C-" => "1.6666","D+" => "1.3333", "D" => "1", "D-" => ".6666", "F" => "0"} %>
<% gpascore = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-","D+", "D", "D-", "F"] %>


<!-- style by Ife -->
<style type="text/css">
  select {
    height: 40px;
  }

  .best_in_place {
    display: inline;
  }

  .numField{
    width: 50px;
  }

  .stringField{
    width: 150px;
  }

  #award_providername{
    width: 125px;
  }

  .toolArea{
    width: 217px;
    height: 43px;
  }

</style>

<!-- end style by Ife -->

<!-- scripts by Ife -->


 <script type="text/javascript">
 $().ready( function() {
    $("#internship_internbegin").attribute("data-behaviour","datepicker");
    })

    $("#internship_internbegin").datepicker();
    $("#internship_internend").datepicker();
    $("#conference_conbegin").datepicker();
    $("#conference_conend").datepicker();
</script>

<!-- end scripts by Ife -->


<div class="row">
	<aside class="span3">
		<section>
			<h1><%= provide(:title, @user) %>
				<%= @user.name %>
			</h1>
		</section>
    <section>

      <%= render :partial => 'showpartials/basicuserinfo', :locals => {:@user => @user} %>
      
    </section>
    <section>
      <%#= render 'shared/stats' %>
      <%= render :partial => 'showpartials/awards', :locals => {:@awards => @awards, :@user => @user} %>
      <%= render :partial => 'showpartials/internships', :locals => {:@internships => @internships, :@user => @user} %>
      <%= render :partial => 'showpartials/conferences', :locals => {:@awards => @awards, :@user => @user} %>     

	</aside>
<p id="notice"><%= notice %></p>
  <aside class="span9">
    <section>
      <h4>Tracks</h4>
      <!-- Code Being renovated to move to models then controllers -->
      
      <%= render :partial => 'showpartials/trackdisp', :locals => {:@userachievementdisphash => @userachievementdisphash, :taken => @taken, :taking => @taking, :wtake => @wtake, :@cuser_courses => @coursearray} %>
      
      <% if current_user == @user %>
        <%= link_to 'Edit Tracks', users_edittrack_path(@user) %>                
      <% end %>
    </section>
    <section>
      <h4>Transcript</h4>
      <!-- Transcript input-->
      <%= form_for :transcript, :url => {:controller => "users", :action => "uploadTranscript"}, multipart: true do |f| %>
        <%= f.file_field :file %>
        <%= f.submit "Import Transcript" %>
      <% end %>
      <!-- Defining Variables -->
      <% @di = 0 %>
      <% @dii = 0 %>
      <% @diii = 0 %>
      <% @diArray = Array.new %>
      <% @diiArray = Array.new %>
      <% @diiiArray = Array.new %>
      <!-- AP Courses  -->
      <% if @aps != nil %>
        <div class="accordion" id="apaccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#apaccordion" href="#apcollapse">
                <b>AP Courses</b>
              </a>
            </div>
            <div id="apcollapse" class="accordion-body collapse">
              <div class="accordion-inner">
                <!-- Defining Variable -->
                <% @aphours = 0 %>
                <% @apcount = 0 %>
                <!-- Entering User AP Model -->
                <% @aps.each do |ap| %>
                  <!-- Looping through AP Courses -->
                  <% ap.usercourses.all.each do |course| %>
                    <!-- Checks if current courses are distribution -->
                    <%= render :partial => 'showpartials/distcheck', :locals => {:@ucatalog => @ucatalog, :course => course, :@color => @color, :@di => @di, :@diArray => @diArray, :@dii => @dii, :@diiArray => @diiArray, :@diii => @diii, :@diiiArray => @diiiArray} %> 
                    <tr>
                      <div style = "color: green;" >
                        <td>
                          <!-- Editable display for current user == profile user -->
                          <%= render :partial => 'showpartials/trancoursedisp', :locals => {:@user => @user, :course => course, :@color => @color, :@cuser_courses => @cuser_courses} %>
                        </td>
                      </div>
                    </tr>
                    <!-- Adds Ap credit hours together -->
                    <% if course.credits != 0 and course.credits != nil %>
                      <% @aphours += course.credits %>
                    <% end %>
                    <% @apcount += 1 %>
                  <% end %>
                  
                <% end %>
                <!-- Display AP course stats -->
                <% if @aphours != 0 %>
                  <p><b>AP Courses: </b><%= @apcount %></p>
                  <p><b>AP Hours: </b><%= @aphours %></p>
                <% end %>
              </div>
            </div>
          </div>
          
        </div>
      <% end %>
      <!-- Transfer Courses -->
      <% if @transfers == nil %>
        <div class="accordion" id="transferaccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#transferaccordion" href="#transfercollapse">
                <b>Transfer Courses</b>
              </a>
            </div>
            <div id="transfercollapse" class="accordion-body collapse">
              <div class="accordion-inner">
                <!-- Define Variables -->
                <% transferhours = 0 %>
                <!-- Enter ther Transfer model -->
                <% @transfers.each do |transfer| %>
                  <!-- Loop through Transfer courses -->
                  <% transfer.each do |course| %>
                    <!-- Check if course is a distribution course -->
                    <%= render :partial => 'showpartials/distcheck', :locals => {:@ucatalog => @ucatalog, :course => course, :@color => @color, :@di => @di, :@diArray => @diArray, :@dii => @dii, :@diiArray => @diiArray, :@diii => @diii, :@diiiArray => @diiiArray} %>
                    <tr>
                      <div style = "color: green;" >
                        <td>
                          <!-- Editable display for current user == profile user -->
                          <%= render :partial => 'showpartials/trancoursedisp', :locals => {:@user => @user, :course => course, :@color => @color, :@cuser_courses => @cuser_courses} %>
                          
                        </td>
                      </div>
                    </tr>
                    <!-- Sum Course credits -->
                    <% if course.credits != 0 and course.credits != nil %>
                      <% transferhours += course.credits %>
                    <% end %>

                  <% end %>
                <% end %>
                <% if transferhours != 0 %>
                  <p><b>Transfer Hours: </b><%= transferhours %></p>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      <% end %>


      <!-- Rice Courses -->


      <div class="accordion" id="accordion">
        <% ia = 0 %>
        <% @ricehours = 0 %>

        <% @fwis = 0 %>
        
        <% @aphours = 0 %>
        <% @fullSemesterAtInstitution = 0 %>
        <% gpah = 0 %>
        <% @lpap = 0 %>
        <% transhours = 0 %>
        <% @years.each do |year| %>
          <% aphours = 0 %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseb<%= ia %>">
                <b><%= year.year %></b>
              </a>
            </div>
            <div id="collapseb<%= ia %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% @semesters = year.semesters.all %>
                <% ha = 0 %>
                <% @semesters.each do |semester| %>
                  <% sgpa = 0 %>
                  <% sgpah = 0 %>
                  <% hours = 0 %>
                  <div class="accordion pull-left span2" id="accordion<%= ia %><%= ha %>">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= ia %><%= ha %>" href="#collapseb<%= ia %><%= ha %>">
                          <b><%= semester.semester %></b>
                        </a>
                      </div>
                      <div id="collapseb<%= ia %><%= ha %>" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <table border="0" padding="1">
                          <% @courses = semester.usercourses.all %>
                          
                            <% @courses.each do |course| %>
                            <% if course.credits != nil and course.credits != 0 %>
                              <% @color = "label-default"%>

                              <%= render :partial => 'showpartials/distcheck', :locals => {:@ucatalog => @ucatalog, :course => course, :@color => @color, :@di => @di, :@diArray => @diArray, :@dii => @dii, :@diiArray => @diiArray, :@diii => @diii, :@diiiArray => @diiiArray} %>

                              <% @ricehours += course.credits.to_i %>
                              <% if course.department == "LPAP" %>
                                <% @lpap += 1 %>
                              <% end %>
                            <% end %>
                            <tr>
                              <div style = "color: green;" >
                                <td>   

                                  <%= render :partial => 'showpartials/trancoursedisp', :locals => {:@user => @user, :course => course, :@color => @color, :@cuser_courses => @cuser_courses} %>
                                </td>
                                  <% if course.credits != nil %>
                                    <% hours += course.credits %>
                                  <% end %>
                                  <% if gpascore.include?(course.grade) %>
                                    <% sgpa += grades[course.grade].to_f * course.credits.to_f %>
                                    <% sgpah += course.credits.to_f %>
                                    <% gpah += course.credits.to_f %>
                                    <%# gpa += grades[course.grade].to_f %>
                                  <% end %>
                                <% if course.department == "FWIS" or "COMC" %>
                                  <% @fwis += 1 %>
                                <% end %>
                              </div>
                            </tr>
                          <% end %>
                          </table>

                          <p><b>Semester Hours: </b><%= hours %></p>
                          
                          <% if hours >= 12 %>
                            <% @fullSemesterAtInstitution += 1 %>
                          <% end %>
                          
                          <% if current_user?(year.user) and sgpah != 0 %>

                            <% finalsgpa = (sgpa.to_f / (sgpah)).to_s[0..4] %>
                            <p><b>Semester GPA: </b><%= finalsgpa %></p>
                          <% end %>
                        
                        </div>
                      </div>
                    </div>
                  </div>
                  <% ha += 1 %>
                <% end %>
              </div>
            </div>
          </div>
          <% ia += 1 %>
        <% end %>
      </div>

      <div class="accordion" id="coursestataccordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#coursestataccordion" href="#statcollapseOne">
              <b>Course Stats</b>
            </a>
          </div>
          <div id="statcollapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-tabs">
                <% ia = 25 %>
                <% @user_courses.each_key do |department| %>
                  <li><a href="#<%= ia %>" data-toggle="tab"><%= department %></a></li>
                  <% ia += 1 %>
                <% end %>
              </ul>
              <div class="tab-content">
                <% ia = 25 %>
                
                <% @user_courses.each_key do |department| %>
                  <% dephours = 0 %>
                  <% depcourses = 0 %>
                  <% ulhours = 0 %>
                  <% ulcourses = 0 %>

                  <div class="tab-pane" id="<%= ia %>">
                    <% @user_courses[department].each_key do |ind| %>
                      
                      <div>
                        <%= department %> <%= ind %>
                      </div>
                      <% if @user_courses[department][ind] != nil %>
                        <% dephours += @user_courses[department][ind] %>
                      <% end %>
                      <% depcourses += 1 %>
                      <% if @user_courses[department][ind] != nil %>

                        <% if ind.to_i >= 300 %>
                          <% ulhours += @user_courses[department][ind] %>
                          <% ulcourses += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                      <div>
                        <b>Upper-level Courses: </b><%= ulcourses %>
                      </div>
                      <div>
                        <b>Total Courses: </b><%= depcourses %>
                      </div>

                      <div>
                        <b>Upper-level Hours: </b><%= ulhours %>
                      </div>
                      <div>
                        <b>Total Hours: </b><%= dephours %>
                      </div>
                      
                  </div>   
                  <% ia += 1 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h4>Graduation Requirements</h4>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Hour Requirements
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Semesters Completed: 
                <% if @fullSemesterAtInstitution >= 4 %>
                  <font color = "green"><%= @fullSemesterAtInstitution.to_s %>/4 Completed</p></font>
                <% else %>
                  <%= @fullSemesterAtInstitution.to_s %>/4</p>
                <% end %>
              <p>Hours at Rice Completed: 
                <% if @ricehours >= 60 %>
                  <font color = "green"><%= @ricehours.to_s %>/60 Completed</p></font>
                <% else %>
                  <%= @ricehours.to_s %>/60</p>
                <% end %>
              <p>Total Hours Completed: 
                <% if @ricehours + @aphours >= 120 %>
                  <font color = "green"><%= (@aphours + @ricehours).to_s %>/120 Completed</p></font>
                <% else %>
                  <%= (@aphours + @ricehours).to_s %>/120</p>
                <% end %>  
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Degree Work Requirements
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Complete the requirements of at least one major degree Program.</p>
              <p>Complete at least 48 hours of all degree work in upper-level courses(300 level or higher)</p>
              <p>Complete more than half of the upper-level courses in degree work at Rice</p>
              <p>Complete more than half of the upper-level courses in their major work at Rice.</p>
              <p>Complete all Rice courses that satisfy degree requirements with a cumulative grade point average of at least 1.67 or higher.</p>
              <p>Complete all Rice courses that satisfy major and/or minor requirements (as designated by the department) with a cumulative grade point average of at least 2.00 or higher.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Distribution Requirement
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <% dinote = "" %>
              <% diinote = "" %>
              <% diiinote = "" %>
              <% if @di > 11 %>
                <% dinote = "Done" %>
              <% end %>
              <% if @dii > 11 %>
                <% diinote = "Done" %>
              <% end %>
              <% if @diii > 11 %>
                <% diiinote = "Done" %>
              <% end %>

              <div class="accordion" id="accordion1000">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseOneb">
                      <p>Group I: <%= @di %>/12 <font color = "green"><%= dinote %></font></p>
                    </a>
                  </div>
                  <div id="collapseOneb" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseTwob">
                      <p>Group II: <%= @dii %>/12 <font color = "green"><%= diinote %></font></p>
                    </a>
                  </div>
                  <div id="collapseTwob" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diiArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseThreeb">
                      Group III: <%= @diii %>/12 <font color = "green"><%= diiinote %></font>
                    </a>
                  </div>
                  <div id="collapseThreeb" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diiiArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <p>Source: http://registrar.rice.edu/students/master_lists/</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Other Requirements
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>LPAP Requirement: 
              <% if @lpap > 0 %>
                <font color = "green">Completed</font></p>
              <% else %>
                Incomplete</p>
              <% end %>
              <% @smallest_year = 0 %>
              <% @years.each do |year| %>
                <% if @smallest_year > year.year.to_i %>
                  <% @smallest_year = year.to_i %>
                <% end %>
              <% end %>
              <% if @smallest_year > 2012 %>
                FWIS Requirement: 
                <% if @fwis > 1 %>
                  <%= @fwis %>/2 <font color = "green">Completed</font>
                <% else %>
                  <%= @fwis %>/2
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @user == current_user %>
         <%= link_to 'Edit Transcript', edit_user_path(@user) %> | <%= link_to 'Edit User', users_edituser_path(@user) %>                   
      <% end %>
      <%= link_to 'Back', users_path %>
    </section>
    <section>
      <h1>Advice to Freshmen</h1>
      <p><%= best_in_place_if current_user?(@user), @user, :notesToFresh, :nil => 'Click here to add words of advice you want to give to any freshman. Things you wish you knew as freshman.', :type => :textarea %></p>
    </section>
    <section>
      <h1>Advice to Peers in my Major</h1>
      <p><%= best_in_place_if current_user?(@user), @user, :notesToMym, :nil => 'Click here to add words of advice you want to give to anyone with the same major as you.', :type => :textarea %></p>
    </section>
    <section>
      <h1>Unconventional Resources</h1>
      <p>We know that the internet is changing the way the world works.  We want to know if it is changing the way you study or look for resources?  Coursera, EdX, Kahn Academy, Codecademy, Massive Online Open Courseware, MIT Open Course Ware, Harvard Open Courses for Free Online Learning Initiative provided by Carnegie Mellon, Stanford Online, TEDx, iTunes U, Peer 2 Peer University, University of the People, Academic Earth, or something else are among the list.  
    </section>
  </aside>
</div>
<br>
<% end %>
