<% if signed_in? %>
<% @catalog = @courses %>
<% i = 0 %>
<% @di = 0 %>
<% @dii = 0 %>
<% @diii = 0 %>
<% @ucatalog = Hash.new %>
<% @catalog.each do |catalog| %>
<% @ucatalog["di"] = Hash.new %>
<% @ucatalog["dii"] = Hash.new %>
<% @ucatalog["diii"] = Hash.new %>
<% @colleges = catalog.coleges.all %>
  <% @colleges.each do |college| %>
    <% college.colegename %>
    <% @departments = college.departments.all %>
    <% @departments.each do |department| %>
      <% @nums = department.nums.all %>
      <% @nums.each do |num| %>
        <% if num.number != nil %>
          <% if num.di %>
            <% @ucatalog["di"][department.departmentabbr + " " + num.number.to_s] = num.credit %>
    
          <% end %>
          <% if num.dii %>

            <% @ucatalog["dii"][department.departmentabbr + " " + num.number.to_s] = num.credit %>
    
          <% end %>
          <% if num.diii %>

            <% @ucatalog["diii"][department.departmentabbr + " " + num.number.to_s] = num.credit %>
    
          <% end %>
          
        <% end %>
      <% end %>
    <% end %>
  <% end %>
  <% i += 1 %>
<% end %>

<% cuser_courses = Array.new %>
<% current_user.years.all.each do |year| %>
  <% year.semesters.all.each do |semester| %>
    <% semester.usercourses.all.each do |course| %>
      <% cuser_courses << course.department + " " + course.num.to_s %>
    <% end %>
  <% end %>
<% end %>


<% taken = Hash.new %>
<% taking = Hash.new %>
<% wtake = Hash.new %>
<% user_courses = Hash.new %>
<% coursearray = Array.new %>
<% achievements = Array.new %>
<% provide(:title, @user.name) %>
<% achievementhash = Hash.new %>
<% @achievement = Array.new %>
<% @achievementtypes.each do |type| %>
  <% type.achievementtype %>
  <% achievements << type.achievementtype %>
  <% if achievementhash.has_key?(type.achievementtype) %>
    <% if achievementhash[type.achievementtype].has_key?(type.college) %>
      <% if achievementhash[type.achievementtype][type.college].has_key?(type.achievementname) %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% else %>
        <% achievementhash[type.achievementtype][type.college][type.achievementname] = Hash.new %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% end %>
    <% else %>
      <% achievementhash[type.achievementtype][type.college] = Hash.new %>
      <% if achievementhash[type.achievementtype][type.college].has_key?(type.achievementname) %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% else %>
        <% achievementhash[type.achievementtype][type.college][type.achievementname] = Hash.new %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% end %>
    <% end %>
  <% else %>
    <% achievementhash[type.achievementtype] = Hash.new %>
    <% if achievementhash[type.achievementtype].has_key?(type.college) %>
      <% if achievementhash[type.achievementtype][type.college].has_key?(type.achievementname) %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% else %>
        <% achievementhash[type.achievementtype][type.college][type.achievementname] = Hash.new %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% end %>
    <% else %>
      <% achievementhash[type.achievementtype][type.college] = Hash.new %>
      <% if achievementhash[type.achievementtype][type.college].has_key?(type.achievementname) %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% else %>
        <% achievementhash[type.achievementtype][type.college][type.achievementname] = Hash.new %>
        <% if achievementhash[type.achievementtype][type.college][type.achievementname].has_key?(type.specialty) %>
        <% else %>
          <% achievementhash[type.achievementtype][type.college][type.achievementname][type.specialty] = Hash.new %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% @institution.each do |type| %>
  <% a = type.achievementtypes.all %>
    <% a.each do |t| %>
    <% if achievements.include?(t.achievementtype) %> 
      <% @achievement << t %>
    <% end %>
  <% end %>
<% end %>

<% @peep = "yes" %>
<%= render :partial => "shared/coursesort", :locals => {:years => @years, :taken => taken, :taking => taking, :wtake => wtake, :user_courses => user_courses, :coursearray => coursearray} %>
<% grades = {"A+" => "4.3333", "A" => "4", "A-" => "3.6666", "B+" => "3.3333", "B" => "3", "B-" => "2.6666", "C+" => "2.3333", "C" => "2", "C-" => "1.6666","D+" => "1.3333", "D" => "1", "D-" => ".6666", "F" => "0"} %>
<% gpascore = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-","D+", "D", "D-", "F"] %>


<!-- style by Ife -->
<style type="text/css">
  select {
    height: 40px;
  }

  .best_in_place {
    display: inline;
  }

  .numField{
    width: 50px;
  }

  .stringField{
    width: 200px;
  }

</style>

<!-- end style by Ife -->

<div class="row">
	<aside class="span4">
		<section>
			<h1><%= provide(:title, @user) %>
				<%= @user.name %>
			</h1>
		</section>
    <section>

      
      <p id="user_status"><b>Status: </b>
        <%= best_in_place_if current_user?(@user), @user, :status, :nil => 'Click here to add year', :type => :select, :collection => [ ["Undergrad","Undergrad"], ["Alumni","Alumni"], ["Prospective Student","Prospective Student"]] %>
      </p> 
      <p><b>Year: </b>
        <%= best_in_place_if current_user?(@user), @user, :year, :nil => 'Click here to add year', :type => :select, :collection => [ ["Senior","Senior"], ["Junior","Junior"], ["Sophomore","Sophomore"], ["Freshman", "Freshman"] ] %>
      </p>
      <p><b>Post Grad Plans: </b>
         <%= best_in_place_if current_user?(@user), @user, :postGradPlans, :nil => 'Click here to add your dreamJob', :type => :select, :collection => [ ["Business School", "Business School"], ["Graduate Studies", "Graduate Studies"], ["Law School", "Law School"], ["Medical School", "Medical School"], ["Industry", "Industry"], ["Vet School", "Vet School"], ["Pharm School", "Pharm School"] ] %>
      </p>
      <p><b>Dream Job: </b>
         <%= best_in_place_if current_user?(@user), @user, :dreamJob, :nil => 'Click here to add your dreamJob', :type => :input %>
      </p>
      <p><b>College: </b>
        <%= best_in_place_if current_user?(@user), @user, :college, :nil => 'Click here to add college', :type => :select, :collection => [ ["Baker","Baker"], ["Brown","Brown"], ["Duncan","Duncan"], ["Hanszen", "Hanszen"], ["Jones","Jones"], ["Lovett","Lovett"], ["Martel","Martel"], ["McMurtry", "McMurtry"], ["Will Rice","Will Rice"], ["Sid Richardson","Sid Richardson"], ["Wiess","Wiess"] ] %>
      </p>
      <p><b>Email: </b>
        <%= best_in_place_if false, @user, :email, :nil => 'Click here to add email',:type => :input %>
      </p>
    </section>
    
    <section>
      <%#= render 'shared/stats' %>
    
      <h1>Awards  <div 
        class="label popover-link" 
        data-content=

        "<h5> Add a new Award </h5>
        <%= form_for(:award, :url => {:controller => "awards", :action => "create", :award_user_id => current_user.id}) do |f|%> 
        <b> Award Title : </b><%= f.text_field :awardtitle, :class => "stringField" %></br>
        <b> Year : </b><%= f.text_field :year, :class => "numField" %>
        <b> Provider Name : </b><%= f.text_field :providername, :class => "stringField" %></br>
        <b> Tips for the Application  : </b><%= f.text_field :tipsforapp, :class => "stringField" %></br>
        <b> Award Perks : </b><%= f.text_field :awardperks, :class => "stringField" %></br>
        <b> Award Prereqs : </b><%= f.text_field :awardprereqs, :class => "stringField" %></br>
        <%= f.submit "Add Award" %>


        <% end %>"
        
        data-original-title="Add Award">+</div>
      </h1>

      <% @awardscounter = 0 %>
      <% @awards.each do |award| %>
        <div class="accordion" id="awardsaccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#awardsaccordion" href="#awardscollapse<%= @awardscounter %>">
                <%= award.providername %><%= award.year %> 
              </a>
            </div>
            <div id="awardscollapse<%= @awardscounter %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><b>Title: </b><%= award.awardtitle %></p>
                <p><b>Perks: </b><%= award.awardperks %></p>
                <p><b>Prereqs: </b><%= award.awardprereqs %></p>
                <p><b>Tips: </b><%= award.tipsforapp %></p>
              </div>
            </div>
          </div>
          <% @awardscount += 1 %>
        </div>
      <% end %>





      <%# if @user == current_user %>
      <%# end %>
      <h1>Internships <div 
        class="label popover-link" 
        data-content="

        Internship Form here!"
        
        data-original-title="Add Internship">+</div>
      </h1>
      
      <% @interncounter = 0 %>
      <% @internships.each do |ship| %>
        <div class="accordion" id="internaccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#internaccordion" href="#interncollapse<%= @interncounter %>">
                <%= ship.providername %> <%= ship.internbegin %>-<%= ship.internend %> 
              </a>
            </div>
            <div id="interncollapse<%= @interncounter %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><b>Title: </b><%= ship.stutitle %></p>
                <p><b>Application Found: </b><%= ship.source %></p>
                <p><b>Prereqs: </b><%= ship.internrereqs %></p>
                <p><b>Tips for Applying: </b><%= ship.tipsforapp %></p>
              </div>
            </div>
          </div>
          <% @interncount += 1 %>
        </div>
      <% end %>
      <%# if @user == current_user %>
      <%# end %>

      <h1>Conferences <div 
        class="label popover-link" 
        data-content="

        Conference Form here!"
        
        data-original-title="Add Conference">+</div>
      </h1>
      
      <% @conferencecounter = 0 %>
      <% @conferences.each do |conf| %>
        <div class="accordion" id="conferenceaccordion">
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#conferenceaccordion" href="#conferencecollapse<%= @conferencecounter %>">
                <%= conf.conferencename %> <%= conf.conbegin %>-<%= conf.conend %> 
              </a>
            </div>
            <div id="conferencecollapse<%= @conferencecounter %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <p><b>Take Away: </b><%= conf.contakeaway %></p>
                <p><b>Tips for Applying: </b><%= conf.tipsforapp %></p>
              </div>
            </div>
          </div>
          <% @conferencecount += 1 %>
        </div>
      <% end %>
    </section>

	</aside>

<p id="notice"><%= notice %></p>

  <aside class="span8">
    <section>
      <h4>Tracks</h4>
      <ul class="nav nav-tabs">
        <% i = 0 %>
        <% for achievementtype in @achievement %> 
          <% achievementhash[achievementtype.achievementtype].each_key do |key| %>
            <% b = achievementtype.colleges.where(:college => key ) %>
            <% b.each do |h| %>
              <% college = h %>
              <li><a href="#<%= i %>" data-toggle="tab"><%= achievementtype.achievementtype %></a></li>
              <% i += 1 %>
            <% end %>
          <% end %>
        <% end %>
      </ul>
      <div class="tab-content">
        <% i = 0 %>
        <% for achievementtype in @achievement %> 
          <% achievementhash[achievementtype.achievementtype].each_key do |key| %>
            <% b = achievementtype.colleges.where(:college => key ) %>
            <% b.each do |h| %>
              <% college = h %>

              <%= render :partial => "shared/calculation2", :locals => {:college => college, :taken => taken, :taking => taking, :wtake => wtake, :i => i, :user_courses => user_courses, :coursearray => coursearray, :collegehash => achievementhash[achievementtype.achievementtype][college.college]} %>

              <% i += 1 %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </section>
    <section>
      <h4>Transcript</h4>
      <div class="accordion" id="accordion">
        <% ia = 0 %>
        <% @ricehours = 0 %>

        <% @fwis = 0 %>
        <% @diArray = Array.new %>
        <% @diiArray = Array.new %>
        <% @diiiArray = Array.new %>
        <% @aphours = 0 %>
        <% fullSemesterAtInstitution = 0 %>
        <% gpah = 0 %>
        <% @lpap = 0 %>
        <% transhours = 0 %>
        <% @years.each do |year| %>
          <% aphours = 0 %>
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseb<%= ia %>">
                <b><%= year.year %></b>
              </a>
            </div>
            <div id="collapseb<%= ia %>" class="accordion-body collapse">
              <div class="accordion-inner">
                <% @semesters = year.semesters.all %>
                <% ha = 0 %>
                <% @semesters.each do |semester| %>
                  <% sgpa = 0 %>
                  <% sgpah = 0 %>
                  <% hours = 0 %>
                  <div class="accordion pull-left span7" id="accordion<%= ia %><%= ha %>">
                    <div class="accordion-group">
                      <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion<%= ia %><%= ha %>" href="#collapseb<%= ia %><%= ha %>">
                          <b><%= semester.semester %></b>
                        </a>
                      </div>
                      <div id="collapseb<%= ia %><%= ha %>" class="accordion-body collapse">
                        <div class="accordion-inner">
                          <table border="0" padding="1">
                          <% @courses = semester.usercourses.all %>
                          <% @courses.each do |course| %>
                            <% @color = "label-default"%>
                            <% if @ucatalog["di"].has_key?(course.department + " " + course.num.to_s) %>
                              <% @di += course.credits %>
                              <% @diArray << course.department + " " + course.num.to_s %>
                              <% @color = "label-warning" %>
                            <% end %>
                            <% if @ucatalog["dii"].has_key?(course.department + " " + course.num.to_s) %>
                              <% @dii += course.credits %>
                              <% @diiArray << course.department + " " + course.num.to_s %>
                              <% @color = "label-info"%>
                            <% end %>
                            <% if @ucatalog["diii"].has_key?(course.department + " " + course.num.to_s) %>
                              <% @diii += course.credits %>
                              <% @diiiArray << course.department + " " + course.num.to_s %>
                              <% @color = "label-success"%>
                            <% end %>


                            <% if course.institution == "Rice" %>
                              <% color = "" %>
                              <% if course.department == "LPAP" %>
                                <% @lpap += 1 %>
                              <% end %>
                              <% @ricehours += course.credits.to_i %>
                            <% elsif course.institution == "AP" %>
                              <% color = "green" %>
                              <% @aphours += course.credits.to_i %>
                            <% else %>
                              <% color = "gray" %>
                              <% transhours += course.credits.to_i %>
                            <% end %>
                            <tr>
                              <div style = "color: green;" >
                                <td>
                                  <% if current_user?(year.user) %>
                                       <% @peep = "yes" %>
                                       <% if course.nofinals == "1" %>
                                          <% f = "Yes" %>
                                        <% else %>
                                          <% f = "No" %>
                                        <% end %>
                                    
                                      <h4 
                                         class="label <%= @color %> popover-link" 
                                         data-original-title="Course Overview"
                                         data-content="
                                         <b>Prof: </b><%= best_in_place course, :prof, :nil => 'Click here to add proffesor name', :type => :input, :inner_class => "stringField" %> </br> 

                                         <b> Prof Quality: </b> <%= best_in_place course, :profquality, :nil => 'Click here to add proffesor Quality', :type => :input, :inner_class => "stringField" %> <br />

                                         <b>Individual Projects: </b> <%= best_in_place course, :nopprojects, :nil => 'Click here to add number of individual projects', :type => :input, :inner_class => "numField" %><br/>

                                         <b>Group Projects: </b> <%= best_in_place course, :nogprojects, :nil => 'Click here to add number of group projects', :type => :input, :inner_class => "numField" %><br/>

                                         <b>Essays: </b> <%= best_in_place course, :noessays, :nil => 'Click here to add number of essays', :type => :input, :inner_class => "numField" %><br/>

                                         <b>Midterms: </b> <%= best_in_place course, :nomidterms, :nil => 'Click here to add year', :type => :input, :inner_class => "numField" %><br/>

                                         <b>Final: </b> <%= best_in_place course, :nofinals, :type => :input, :inner_class => "numField" %><br/>

                                         <b>Focus: </b> <%#= best_in_place_if (current_user?(@user) ), course, :follows, :nil => 'Click here to add class book/lecture focus', :inner_class => "stringField", :type => :select, :collection => [ ["0/100", "0/100"], ["25/75", "25/75"], ["50/50", "50/50"], ["75/25", "75/25"], ["100/0", "100/0"]  ] %><br/>

                                         <b>HPW: </b> <%= best_in_place course, :hpweek, :nil => 'Click here to describe workload in hours per week', :type => :input, :inner_class => "numField" %><br/>

                                         <b>Suggestions: </b> <%= best_in_place course, :suggest, :nil => 'Click here to add suggestions for future students', :type => :textarea, :inner_class => "stringField" %><br/>" 
                                         >
                                         <font color = "<%= color %>"><%= course.department %> <%= course.num.to_s %> <%= course.grade %></font>
                                      </h4>​
                                    
                                  <% else %>
                                    <% strike = "" %>
                                    <% if cuser_courses.include?(course.department + " " + course.num.to_s) %>
                                      <% strike = "*" %>
                                    <% end %>

                                    <h4
                                       class="label  <%= @color %> popover-link"
                                       data-content="<b>Prof: </b><%= course.prof %> <%= course.profquality %><br /><b>Individual Projects: </b> <%= course.nopprojects %><br/><b>Group Projects: </b> <%= course.nogprojects %><br/><b>Essays: </b> <%= course.noessays %><br/><b>Midterms: </b> <%= course.nomidterms %><br/><b>Final: </b> <%= f %><br/><b>Focus: </b> <%= course.follows %><br/><b>HPW: </b> <%= course.hpweek %><br/><b>Suggestions: </b> <%= course.suggest %><br/>"
                                       data-original-title="Course Overview"><font color = "<%= color %>"><%=course.department%> <%= course.num.to_s %></font>
                                    </h4>​
                                  <% end %>
                                </td>
                                <% if course.institution == "Rice" %>
                                  <% if course.credits != nil %>
                                    <% hours += course.credits %>
                                    
                                  <% end %>
                                  
                                  <% if gpascore.include?(course.grade) %>
                                    <% sgpa += grades[course.grade].to_f * course.credits.to_f %>
                                    <% sgpah += course.credits.to_f %>
                                    <% gpah += course.credits.to_f %>
                                    <%# gpa += grades[course.grade].to_f %>
                                  <% end %>
                                <% end %>
                                <% if course.department == "FWIS" or "COMC" %>
                                  <% @fwis += 1 %>
                                <% end %>
                              </div>
                            </tr>
                          <% end %>
                          </table>
                          <% if aphours != 0 %>
                            <p><b>AP Hours: </b><%= aphours %></p>
                          <% end %>
                          <p><b>Semester Hours: </b><%= hours %></p>
                          <% if hours >= 12 %>
                            <% fullSemesterAtInstitution += 1 %>
                          <% end %>
                          <% if current_user?(year.user) and sgpah != 0 %>
                            <% finalsgpa = (sgpa.to_f / (sgpah)).to_s[0..4] %>
                            <p><b>Semester GPA: </b><%= finalsgpa %></p>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                  <% ha += 1 %>
                <% end %>
              </div>
            </div>
          </div>
          <% ia += 1 %>
        <% end %>
      </div>

      <div class="accordion" id="coursestataccordion">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#coursestataccordion" href="#statcollapseOne">
              Course Stats
            </a>
          </div>
          <div id="statcollapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <ul class="nav nav-tabs">
                <% ia = 25 %>
                <% user_courses.each_key do |department| %>
                  <li><a href="#<%= ia %>" data-toggle="tab"><%= department %></a></li>
                  <% ia += 1 %>
                <% end %>
              </ul>
              <div class="tab-content">
                <% ia = 25 %>
                
                <% user_courses.each_key do |department| %>
                  <% dephours = 0 %>
                  <% depcourses = 0 %>
                  <% ulhours = 0 %>
                  <% ulcourses = 0 %>

                  <div class="tab-pane" id="<%= ia %>">
                    <% user_courses[department].each_key do |ind| %>
                      
                      <div>
                        <%= department %> <%= ind %>
                      </div>
                      <% if user_courses[department][ind] != nil %>
                        <% dephours += user_courses[department][ind] %>
                      <% end %>
                      <% depcourses += 1 %>
                      <% if user_courses[department][ind] != nil %>

                        <% if ind.to_i >= 300 %>
                          <% ulhours += user_courses[department][ind] %>
                          <% ulcourses += 1 %>
                        <% end %>
                      <% end %>
                    <% end %>
                      <div>
                        <b>Upper-level Courses: </b><%= ulcourses %>
                      </div>
                      <div>
                        <b>Total Courses: </b><%= depcourses %>
                      </div>

                      <div>
                        <b>Upper-level Hours: </b><%= ulhours %>
                      </div>
                      <div>
                        <b>Total Hours: </b><%= dephours %>
                      </div>
                      
                  </div>   
                  <% ia += 1 %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <h4>Graduation Requirements</h4>
      <div class="accordion" id="accordion2">
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
              Hour Requirements
            </a>
          </div>
          <div id="collapseOne" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Semesters Completed: 
                <% if fullSemesterAtInstitution >= 4 %>
                  <font color = "green"><%= fullSemesterAtInstitution.to_s %>/4 Completed</p></font>
                <% else %>
                  <%= fullSemesterAtInstitution.to_s %>/4</p>
                <% end %>
              <p>Hours at Rice Completed: 
                <% if @ricehours >= 60 %>
                  <font color = "green"><%= @ricehours.to_s %>/60 Completed</p></font>
                <% else %>
                  <%= @ricehours.to_s %>/60</p>
                <% end %>
              <p>Total Hours Completed: 
                <% if @ricehours + @aphours >= 120 %>
                  <font color = "green"><%= (@aphours + @ricehours).to_s %>/120 Completed</p></font>
                <% else %>
                  <%= (@aphours + @ricehours).to_s %>/120</p>
                <% end %>  
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
              Degree Work Requirements
            </a>
          </div>
          <div id="collapseTwo" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>Complete the requirements of at least one major degree Program.</p>
              <p>Complete at least 48 hours of all degree work in upper-level courses(300 level or higher)</p>
              <p>Complete more than half of the upper-level courses in degree work at Rice</p>
              <p>Complete more than half of the upper-level courses in their major work at Rice.</p>
              <p>Complete all Rice courses that satisfy degree requirements with a cumulative grade point average of at least 1.67 or higher.</p>
              <p>Complete all Rice courses that satisfy major and/or minor requirements (as designated by the department) with a cumulative grade point average of at least 2.00 or higher.</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree">
              Distribution Requirement
            </a>
          </div>
          <div id="collapseThree" class="accordion-body collapse">
            <div class="accordion-inner">
              <% dinote = "" %>
              <% diinote = "" %>
              <% diiinote = "" %>
              <% if @di > 11 %>
                <% dinote = "Done" %>
              <% end %>
              <% if @dii > 11 %>
                <% diinote = "Done" %>
              <% end %>
              <% if @diii > 11 %>
                <% diiinote = "Done" %>
              <% end %>

              <div class="accordion" id="accordion1000">
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseOneb">
                      <p>Group I: <%= @di %>/12 <font color = "green"><%= dinote %></font></p>
                    </a>
                  </div>
                  <div id="collapseOneb" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseTwob">
                      <p>Group II: <%= @dii %>/12 <font color = "green"><%= diinote %></font></p>
                    </a>
                  </div>
                  <div id="collapseTwob" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diiArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion1000" href="#collapseThreeb">
                      Group III: <%= @diii %>/12 <font color = "green"><%= diiinote %></font>
                    </a>
                  </div>
                  <div id="collapseThreeb" class="accordion-body collapse">
                    <div class="accordion-inner">
                      <% @diiiArray.each do |course| %>
                        <ul>
                          <li><%= course %></li>
                        </ul>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>

              <p>Source: http://registrar.rice.edu/students/master_lists/</p>
            </div>
          </div>
        </div>
        <div class="accordion-group">
          <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseFour">
              Other Requirements
            </a>
          </div>
          <div id="collapseFour" class="accordion-body collapse">
            <div class="accordion-inner">
              <p>LPAP Requirement: 
              <% if @lpap > 0 %>
                <font color = "green">Completed</font></p>
              <% else %>
                Incomplete</p>
              <% end %>
              <% @smallest_year = 0 %>
              <% @years.each do |year| %>
                <% if @smallest_year > year.year.to_i %>
                  <% @smallest_year = year.to_i %>
                <% end %>
              <% end %>
              <% if @smallest_year > 2012 %>
                FWIS Requirement: 
                <% if @fwis > 1 %>
                  <%= @fwis %>/2 <font color = "green">Completed</font>
                <% else %>
                  <%= @fwis %>/2
                <% end %>

              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% if @user == current_user %>
          <%= link_to 'Edit User', users_edituser_path(@user) %> | <%= link_to 'Edit Transcipt', edit_user_path(@user) %> | <%= link_to 'Edit Tracks', users_edittrack_path(@user) %>                
      <% end %>
      <%= link_to 'Back', users_path %>
    </section>
    <section>
      <h1>Advice to Freshmen</h1>
      <p><%= best_in_place_if current_user?(@user), @user, :notesToFresh, :nil => 'Click here to add words of advice you want to give to any freshman. Things you wish you knew as freshman.', :type => :textarea %></p>
    </section>
    <section>
      <h1>Advice to Peers in my Major</h1>
      <p><%= best_in_place_if current_user?(@user), @user, :notesToMym, :nil => 'Click here to add words of advice you want to give to anyone with the same major as you.', :type => :textarea %></p>
    </section>
    <section>
      <h1>Unconventional Resources</h1>
      <p>We know that the internet is changing the way the world works.  We want to know if it is changing the way you study or look for resources?  Coursera, EdX, Kahn Academy, Codecademy, Massive Online Open Courseware, MIT Open Course Ware, Harvard Open Courses for Free Online Learning Initiative provided by Carnegie Mellon, Stanford Online, TEDx, iTunes U, Peer 2 Peer University, University of the People, Academic Earth, or something else are among the list.  
    </section>
  </aside>
</div>
<br>
<% end %>
