<div class="tab-pane" id="<%= i %>">
  <% k = 0 ;%> 
  <% c = college.achievementnames.all %>                                              
  <% for achievementname in c %>
    <div class="accordion span7 pull-left" id="accordian<%= i %>">      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordian<%= i %>" href="#collapse<%= i %><%= k %>">
            <%= achievementname.achievementname %>
          </a>
        </div>
        <div id="collapse<%= i %><%= k %>"  class="accordion-body collapse">
          <div class="accordion-inner" >

            <% m = 0 %> 
            <%# ------------------------------------------------------%>
            <% @takent = 0 %>
            <% @takingt = 0 %>
            <% @wtaket = 0 %>
            <% core_completed = 0 %>
            <% option_completed = 0 %>
            <% ex = achievementname.specialties.all %>
            <%# ------------------------------------------------------%>
            <% for specialty in ex %>                   
              <% @totalc = 0 %>
              <% totalh = 0 %>
              <% @core_c_1 = 0 %>
              <% @core_c_2 = 0 %>
              <% @core_c_3 = 0 %>
              <% @op_c_1 = 0 %>
              <% @op_c_2 = 0 %>
              <% @op_c_3 = 0 %>
              <% @op_c = 0 %>
              <% core_h = 0 %>
              <% need = 0 %>
              <% d = specialty.corereqs.all %> 
              <%# ------------------------------------------------------%>
              <% for corereq in d %>
                <% @totalc += corereq.cgoal.to_i %>
                <% totalh += corereq.hgoal.to_i %>
                <% e = corereq.ccourses.all %>
                <%# ------------------------------------------------------%>
                <% for course in e %>

                  <% if taken.has_key?(course.department) %>
                    <% if taken[course.department].has_key?(course.num.to_s) %>
                      <% @core_c_1 += 1 %>
                    <% end %>
                  <% end %>
                  <% if taking.has_key?(course.department) %>
                    <% if taking[course.department].has_key?(course.num.to_s) %>
                      <% @core_c_2 += 1 %>
                    <% end %>
                  <% end %>
                  <% if wtake.has_key?(course.department) %>
                    <% if wtake[course.department].has_key?(course.num.to_s) %>
                      <%= @core_c_3 += 1 %>
                    <% end %>
                  <% end %>

                <% end %>
              <% end %>
              <%# ------------------------------------------------------%>
              <% if @totalc != 0 %>
                <% core_completed_1 = (@core_c_1 * 100) / @totalc %>
                <% core_completed_2 = (@core_c_2 * 100) / @totalc %>
                <% core_completed_3 = (@core_c_3 * 100) / @totalc %>
              <% else %>
                <% core_completed_1 = 0 #taken %>
                <% core_completed_2 = 0 #taking %>
                <% core_completed_3 = 0 #wtake %>
              <% end %>
              <%# ------------------------------------------------------%>
              <% f = specialty.opreqs.all %>
              <%# ------------------------------------------------------%>
              <% for opreq in f %>
                <% @op_c_biggest = 0 %>     
                <% complete = 0 %>
                <% g = opreq.options.all %>
                <%# ------------------------------------------------------%>
                <% for option in g %> 
                  <% op_c_all = 0 %>
                  <% @op_c_m_1 = 0 %>
                  <% @op_c_m_2 = 0 %>
                  <% @op_c_m_3 = 0 %>
                  <% @op_c_m = 0 %>
                  <% @op_add = 0 %>
                  <% @op_c_big = 0 %>
                  <% @op_c_big_1 = 0 %>
                  <% @op_c_big_2 = 0 %>
                  <% @op_c_big_3 = 0 %>
                  
                  <% h = option.ocourses.all %>
                  <%# ------------------------------------------------------%>
                  <% for course in h %>
                    <% op_c_all += 1 %>

                    <% if taken.has_key?(course.department) %>
                      <% if taken[course.department].has_key?(course.num.to_s) %>
                        <% @op_c_m += 1 %>
                        <% @op_c_m_1 += 1 %>
                      <% end %>
                    <% end %>
                    <% if taking.has_key?(course.department) %>
                      <% if taking[course.department].has_key?(course.num.to_s) %>
                        <% @op_c_m += 1 %>
                        <% @op_c_m_2 += 1 %>
                      <% end %>
                    <% end %>
                    <% if wtake.has_key?(course.department) %>
                      <% if wtake[course.department].has_key?(course.num.to_s) %>
                        <% @op_c_m += 1 %>
                        <% @op_c_m_3 += 1%>
                      <% end %>
                    <% end %>
                    
                  <% end %>
                  
                  <%# ------------------------------------------------------%>
                  <% if option.cgoal.to_i != 0 %>
                    <% if (@op_c_m * 100)/ option.cgoal.to_i >= @op_c_biggest %>

                      
                      
                      <% if option.cgoal.to_i < @op_c_m %>
                        <% @op_c_big = option.cgoal.to_i %>
                        <% if option.cgoal.to_i < @op_c_m_1 %>
                          <% @op_c_big_1 = option.cgoal.to_i %>
                          <% @op_c_big_2 = 0 %>
                          <% @op_c_big_3 = 0 %>
                        <% elsif option.cgoal.to_i < @op_c_m_1 + @op_c_m_2 %>
                          <% @op_c_big_1 = @op_c_m_1 %>
                          <% @op_c_big_2 = option.cgoal.to_i - @op_c_m_1 %>
                        <% elsif option.cgoal.to_i < @op_c_m_1 + @op_c_m_2 + @op_c_m_3 %>
                          <% @op_c_big_1 = @op_c_m_1 %>
                          <% @op_c_big_2 = @op_c_m_2 %>
                          <% @op_c_big_3 = option.cgoal.to_i - @op_c_m_1 - @op_c_m_2 %>
                        <% end %>
                      <% else %>
                        <% @op_c_big = @op_c_m %>
                        <% @op_c_big_1 = @op_c_m_1.to_i %>
                        <% @op_c_big_2 = @op_c_m_2.to_i %>
                        <% @op_c_big_3 = @op_c_m_3.to_i %>
                      <% end %>

                      <% @op_add = option.cgoal.to_i %>
                      <% @op_c_biggest = (@op_c_m * 100)/ option.cgoal.to_i %>
                    <% end %>
                  <% end %>
                  
                  <% @op_c += @op_c_big %>
                  <% if @op_c_big_1 != nil %>
                    <% @op_c_1 += @op_c_big_1 %>
                  <% end %>
                  <% if @op_c_big_2 != nil %>
                    <% @op_c_2 += @op_c_big_2 %>
                  <% end %>
                  <% if @op_c_big_3 != nil %>
                    <% @op_c_3 += @op_c_big_3 %>
                  <% end %>

                  <% @totalc += @op_add  %>
                <% end %>
                <%# ------------------------------------------------------%>
                
              <% end %>
              <% if @totalc != 0 and @totalc != nil%>
                <% if @op_c_1 == nil %>
                 <%  @op_c_1 = 0 %>
                <% end %>
                <% if @op_c_2 == nil %>
                  <%  @op_c_2 = 0 %>
                <% end %>
                <% if @op_c_3 == nil %>
                  <%  @op_c_3 = 0 %>
                <% end %>
                <% if @core_c_1 == nil %>
                 <%  @core_c_1 = 0 %>
                <% end %>
                <% if @core_c_2 == nil %>
                 <%  @core_c_2 = 0 %>
                <% end %>
                <% if @core_c_3 == nil %>
                 <%  @core_c_3 = 0 %>
                <% end %>
                <% @takent =   ((@core_c_1 + @op_c_1) * 100) / @totalc %> 
                <% @takingt = ((@core_c_2 + @op_c_2) * 100) / @totalc %>
                <% @wtaket = ((@core_c_3 + @op_c_3) * 100) / @totalc %>
                <% @need = @totalc - @core_c_1 - @op_c %>
              <% else %>
                <% @need = 0 %>
                <% @takent = 0 %>
                <% @takingt = 0 %>
                <% @wtaket = 0 %>
              <% end %>



              <div class="accordion span6 pull-left" id="accordian<%= i %><%= k %>">                        
                <div class="accordion-group">
                  <div class="accordion-heading">
                    <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordian<%= i %><%= k %>" href="#collapse<%= i %><%= k %><%= m %>">
                      <%= specialty.specialty %>: <%= @takent %>%, <%= @need %> Courses Left
                    </a>
                  </div>
                  <div id="collapse<%= i %><%= k %><%= m %>"  class="accordion-body collapse">
                    <div class="accordion-inner" >
                      <p><b>Percent Complete: </b><%= @takent + @wtaket %>%<%#content goes here position[:reason]%></p>
                      <div class="progress">
                        <div class="bar bar-success" style="width: <%= @takent %>%;"></div>
                        <div class="bar bar-warning" style="width: <%= @takingt %>%;"></div>
                        <div class="bar bar-danger" style="width: <%= @wtaket %>%;"></div>
                      </div>
                      <% d = specialty.corereqs.all %>
                      <h4>Core Requirements</h4>
                      <% for corereq in d %>
                      <b><%= corereq.corereqname %></b>
                      <ul>
                       <% e = corereq.ccourses.all %>
                        <% count = 0 %>
                        <% coun = 0 %>
                        <li>
                        <% for course in e %>
                          <% if !coursearray.include?(course.department + " " + course.num.to_s) %>
                            <%= course.department + " " + course.num.to_s %>
                            <% count += 1 %>
                            <% coun += 1 %>
                            <% if coun != e.length %>
                            ,
                            <% end %>
                          <% else %>
                            <div style = "text-decoration: line-through;" >
                              <%= course.department + " " + course.num.to_s %>
                              <% coun += 1 %>
                              <% if coun != e.length %>
                              ,
                              <% end %>
                            </div>
                          <% end %>
                        <% end %>
                        <% if count == 0 %>
                          Requirement Complete
                        <% end %>
                        </li>
                      </ul>
                      <% end %>
                      <% f = specialty.opreqs.all %>
                      <h4>Multi Option Requirements</h4>
                      <% for opreq in f %>
                        <%# --------------------------------------------------%>
                        <% @op_c_biggest = 0 %>     
                        <% complete = 0 %>
                        <% g = opreq.options.all %>
                        <%# ------------------------------------------------------%>
                        <% for option in g %> 
                          <% @op_c_all = 0 %>
                          <% @op_c_m = 0 %>
                          <% @op_add = 0 %>
                          <% @op_c_big = 0 %>
                          <% h = option.ocourses.all %>
                          <%# ------------------------------------------------------%>
                          <% for course in h %>
                            <% op_c_all += 1 %>
                            <% if user_courses.has_key?(course.department) %>
                              <% if user_courses[course.department].has_key?(course.num) %>
                                <% @op_c_m += 1 %>
                                <%# op_h += user_courses[course.department][course.num] %>
                              <% end %>
                            <% end %>
                          <% end %>
                          <%# ------------------------------------------------------%>
                          <% if option.cgoal.to_i != 0 %>
                            <% if (@op_c_m * 100)/ option.cgoal.to_i >= @op_c_biggest %>
                              <% if option.cgoal.to_i < @op_c_m %>
                                <% @op_c_big = option.cgoal.to_i %>
                              <% else %>
                                <% @op_c_big = @op_c_m %>
                              <% end %>
                              <% @op_add = option.cgoal.to_i %>
                              <% @op_c_biggest = (@op_c_m * 100)/ option.cgoal.to_i %>
                              <% if (@op_c_big * 100)/ option.cgoal.to_i == 100 %>
                                <% complete = 1 %>
                              <% end %>
                            <% end %>
                          <% end %>
                          <% @op_c += @op_c_big %>
                          <% @totalc += @op_add  %>
                        <% end %>
                        <%# ---------------------------------------------------%>
                        <b><%= opreq.opreqname %></b><br />
                        <% if complete != 1 %>  
                          <ul>
                            <% g = opreq.options.all %>
                            <% for option in g %>
                              <b><%= option.optionname %></b><br/>
                              <% h = option.ocourses.all %>
                              <% count = 0 %>
                              <li>
                                <% for course in h %>
                                  <% if !coursearray.include?(course.department + " " + course.num.to_s) %>
                                    <%= course.department + " " + course.num.to_s %>
                                    <% count += 1 %>
                                  <% else %>
                                    <div style = "text-decoration: line-through;" >
                                      <%= course.department + " " + course.num.to_s %>
                                    </div>
                                  <% end %>
                                <% end %>
                              </li>
                            <% end %>    
                          </ul>
                        <% end %>
                        <% if complete == 1 %>
                          <ul><li>Requirement Complete</li></ul>
                        <% end %>
                      <% end %>
                      <h4>Notes</h4>
                      <%= specialty.notes %>
                    </div>
                  </div>
                </div>
              
              <% m += 1 %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% k +=1 %>
  <% end %>
</div>