

<div class="tab-pane" id="<%= i %>">
  <% k = 0 ;%> 
  <% c = college.achievementnames.all %>                                              
  <% for achievementname in c %>
    <div class="accordion span9 pull-left" id="accordian<%= i %>">      
      <div class="accordion-group">
        <div class="accordion-heading">
          <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordian<%= i %>" href="#collapser<%= i %><%= k %>">
            <%= achievementname.achievementname %>
          </a>
        </div>
        <div id="collapser<%= i %><%= k %>"  class="accordion-body collapse">
          <div class="accordion-inner" >
      <%# ------------------------------------------------------%>
            <% m = 0 %> 
            <% @takent = 0 %>
            <% @takingt = 0 %>
            <% @wtaket = 0 %>
            <% core_completed = 0 %>
            <% option_completed = 0 %>
            <% ex = achievementname.specialties.all %>
            <%# ------------------------------------------------------%>
            <% for specialty in ex %> 
              <%= render "shared/newcalc2", :@optimize => false, :taken => taken, :taking => taking, :wtake => wtake, :@takent => @takent, :@takingt => @takingt, :@wtaket => @wtaket, :specialty => specialty, :coursearray => coursearray, :user_courses => user_courses, :i => i, :k => k, :m => m %>
              <% m += 1 %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% k +=1 %>
  <% end %>
</div>