<div class="tab-pane" id="<%= i %>">
  <% k = 0 ;%> 
  <% collegehash.each_key do |key| %>
    <% b = college.achievementnames.where(:achievementname => key ) %>
    <% b.each do |h| %>
      <% c = [h] %>                                              
      <% for achievementname in c %>
        <div class="accordion span7 pull-left" id="accordian<%= i %>">      
          <div class="accordion-group">
            <div class="accordion-heading">
              <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordian<%= i %>" href="#collapser<%= i %><%= k %>">
                <%= achievementname.achievementname %>
              </a>
            </div>
            <div id="collapser<%= i %><%= k %>"  class="accordion-body collapse">
              <div class="accordion-inner" >

                <% m = 0 %> 
                <%# ------------------------------------------------------%>
                <% @takent = 0 %>
                <% @takingt = 0 %>
                <% @wtaket = 0 %>
                <% core_completed = 0 %>
                <% option_completed = 0 %>
                <% collegehash[key].each_key do |key2| %>
                  <% alpha = achievementname.specialties.where(:specialty => key2) %>
                  <% alpha.each do |beta| %>
                    <% ex = [beta] %>
                    <%# ------------------------------------------------------%>
                    <% for specialty in ex %> 
                      <% @specialtyHash = Hash.new %>                  
                      <%= render "shared/newcalc2", :@specialtyHash => @specialtyHash, :taken => taken, :taking => taking, :wtake => wtake, :@takent => @takent, :@takingt => @takingt, :@wtaket => @wtaket, :specialty => specialty, :coursearray => coursearray, :user_courses => user_courses, :i => i, :k => k, :m => m %>
                      <% m += 1 %>
                    <% end %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>
        <% k +=1 %>
      <% end %>
    <% end %>
  <% end %>
</div>