
<% mm = 0 %>
<% for corereq in d %>
  <div class="accordion span5 pull-left" id="accordian1<%= i %><%= k %><%= m %>">        
    <div class="accordion-group">
      <div class="accordion-heading">
        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordian1<%= i %><%= k %><%= m %>" href="#collapse3<%= i %><%= k %><%= m %><%= mm %>">

          <%= corereq.corereqname %> 
          <% if @specialtyHash[:core][corereq.corereqname] >= corereq.cgoal.to_i %>
              <font color="green">Complete</font>
          <% else %>
              <%= @specialtyHash[:core][corereq.corereqname] %>/<%= corereq.cgoal.to_i %>
          <% end %>
        </a>

      </div>
      <div id="collapse3<%= i %><%= k %><%= m %><%= mm %>"  class="accordion-body collapse">
        <div class="accordion-inner" >
          <% e = corereq.ccourses.all %>
          <% count = 0 %>
          <% coun = 0 %>

          <ul><li>
          <% for course in e %>

            <% if !coursearray.include?(course.department + " " + course.num.to_s) %>
            <!-- link to call ajax for usercourse creation modal -->
            <%= render "usercourses/usercourseModalCreateLink", :course => course %>
              <% count += 1 %>
              <% coun += 1 %>
              <% if coun != e.length %>
              ,
              <% end %>
            <% else %>
              <div style = "text-decoration: line-through;display:inline-block;" >
                <!-- link to call ajax for usercourse creation modal -->
            <%= render "usercourses/usercourseModalCreateLink", :course => course %>
                <% coun += 1 %>
                <% if coun != e.length %>
                ,
                <% end %>
              </div>
            <% end %>
          <% end %>
          </li></ul>
          <% if count == 0 %>
            Requirement Complete
          <% end %>
        </div>
      </div>
    </div>
    <% mm += 1 %>
  </div>
<% end %>