<div id="<%= institution %>-<%= department %>-<%= num %>" class="modal show fade">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Add <%= department %> <%= num %> </h3>
	</div>

	<div class="modal-body">
		<%# form_for :usercourse, :url => {:controller => "usercourses", :action => "createFromModal", :institution => institution, :department => department, :num => num} do |f| %> <!-- variables passed from link that opens modal -->

		<%# f.label (:manual )%>
		<%# f.text_field (:manual) %>

		<%# end %>
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Close</button>
	</div>

</div>