<style type="text/css">
	
	input {
		width: 250px;
	}
	select {
		width: 250px;
		height: 40px;
	}

 	.numField{
		width: 50px;
	}

	.stringField{
		width: 150px;
	}


</style>

<div id="<%= institution %>-<%= department %>-<%= num %>" class="modal show fade">
	
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
		<h3>Add <%= department %> <%= num %> </h3>
	</div>

	<div class="modal-body">
		<%= semantic_form_for @user do |f| %>
		  <% if @user.errors.any? %>
		      <%= "#{pluralize(@user.errors.count, "error")} prohibited this project from being saved:" %>
		      
		        <% @user.errors.full_messages.each do |msg| %>
		          <%= msg %>
		  
		  <%= f.inputs  do %>
		     
		      <%= f.semantic_fields_for :years do |year| %>
		        
		          <%= year.inputs :number do %>
		            Year 
		            <%= year.input :year,:label => false, :wrapper_html => {  :style => '', :class => "input-small" }, :input_html => {:value => "2013", :class => "input-small"} %>
		            
		            <%#semester %>
		             <%= year.semantic_fields_for :semesters do |semester| %>
		                
		                  <%= semester.inputs :division do %>
		                   
		                    <%= semester.input :semester, :as => :select, :collection => ["Fall", "Spring", "Summer"], :label => false, :wrapper_html => {  :style => '', :class => "" }, :input_html => {:value => "Fall",:class => "input-small"} %>
		                   
		                    
		                    <%= semester.semantic_fields_for :usercourses do |course| %>
		                      
		                        <%= course.inputs :institution, :department, :num, :credits, :status, :prof, :profquality, :hpweek, :follows, :nopprojects, :nogprojects, :noessays, :nomidterms, :nofinals, :suggest do %>
		                          <%= course.input :department, :label => false, :wrapper_html => { :class => "float input-small pull-left" }, :input_html => {:value => department,:class => "input-small"} %>
		                          <%= course.input :num, :label => false, :wrapper_html => { :class => "float input-small pull-left" }, :input_html => {:style => '',:value => num, :class => "input-small"} %>
		                          <%= course.input :credits, :as => :number, :min => 0, :max => 7, :step => 1, :label => false, :wrapper_html => {:class => "float input-mini pull-left" }, :input_html => {:style => '',:value => "3", :class => "special input-mini"} %>                          
		                          <%= course.input :status, :label => false, :as => :select, :collection => ["Taken", "Taking", "Will Take"],  :wrapper_html => {:class => "float pull-left" }, :input_html => {:style => '', :placeholder => "Taken", :class => "input-small"} %>	                                                  
		                          <% @gradearray = ["A+", "A", "A-", "B+", "B", "B-", "C+", "C", "C-","D+", "D", "D-", "F", "P", "Fp", "S", "Fs"] %>
		                          <%= course.input :grade, :as => :select, :collection => @gradearray, :label => false, :wrapper_html => {  :style => 'width: 250px;', :class => "float input-small pull-left" }, :input_html => {:value => "Taken", :style => '', :class => "input-small"} %>
		                          <%= course.input :institution, :label => false, :as => :hidden, :wrapper_html => {:class => "float form_header_style pull-left" },  :input_html => {:placeholder => @inst,:class => "input-small"} %>
		                          <%= course.input :prof, :as => :hidden, :wrapper_html => {:class => "" }, :input_html => {:value => "Click to enter Professor", :style => "", :class => ""} %>
		                          <%= course.input :profquality, :as => :hidden, :min => 0, :max => 10, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 5, :class => "special"} %>
		                          <%= course.input :hpweek, :as => :hidden, :min => 0, :max => 40, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 5,:class => "special"}    %>   
		                          <%= course.input :follows,:as => :hidden, :wrapper_html => {:class => "" }, :input_html => {:value => "50/50", :class => ""} %>
		                          <%= course.input :nopprojects,:as => :hidden, :min => 0, :max => 10, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 0, :class => "special"} %>
		                          <%= course.input :nogprojects,:as => :hidden, :min => 0, :max => 10, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 0, :class => "special"} %>
		                          <%= course.input :noessays,:as => :hidden, :min => 0, :max => 10, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 0, :class => "special"}    %>       
		                          <%= course.input :nomidterms, :as => :hidden, :min => 0, :max => 16, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 0, :class => "special"}  %>         
		                          <%= course.input :nofinals,:as => :hidden, :min => 0, :max => 1, :step => 1, :wrapper_html => {:class => "" }, :input_html => {:value => 0, :class => "special"}   %>        
		                          <%= course.input :suggest, :as => :hidden,  :wrapper_html => {:class => "pull-left" }, :input_html => { :value => "Add tips, or location of useful outside resources to suceed in this class", :class => ""} %>
		                        <% end %>
		                    <% end %>
		                  <% end %>
		             <% end %>
		          <% end %>
		      <% end %>
		    <%= f.actions do %> 
		      <%= f.action :submit, :as => :button %>
		    <% end %>
		  <% end %>
		<% end %>
	</div>

	<div class="modal-footer">
		<button type="button" data-dismiss="modal" class="btn">Close</button>
	</div>

</div>